In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import MarkerCluster
import numpy as np
import warnings
warnings.filterwarnings('ignore')
sns.set()
%matplotlib inline

In [40]:
csv_file = 'F:\PyCharm\Data Visualization\GR_Crash_Data\CGR_Crash_Data.csv'
df = pd.read_csv(csv_file)
df = df[['X', 'Y', 'BIKE', 'CRASHDATE', 'CRASHTYPE', 'DAYOFMONTH', 'DAYOFWEEK', 'D1DRINKIN',
         'DRIVER1AGE', 'DRIVER1SEX', 'INTERNAME', 'LIGHTING', 'HITANDRUN', 'HOUR', 'MONTH',
         'MOTORCYCLE', 'PRNAME', 'YEAR', 'SURFCOND', 'SPEEDLIMIT']]
df

,X,Y,BIKE,CRASHDATE,CRASHTYPE,DAYOFMONTH,DAYOFWEEK,D1DRINKIN,DRIVER1AGE,DRIVER1SEX,INTERNAME,LIGHTING,HITANDRUN,HOUR,MONTH,MOTORCYCLE,PRNAME,YEAR,SURFCOND,SPEEDLIMIT
0,-85.650003,42.919854,No,2008/06/16,Backing,16,Monday,No,31,M,ALGER,Daylight,No,8,June,No,LINDEN,2008,Dry,25
1,-85.625665,42.924710,No,2008/08/30,Fixed Object,30,Saturday,No,999,M,ROSEWOOD,Daylight,Yes,15,August,No,LOUISE,2008,Dry,25
2,-85.655282,43.000972,No,2008/02/13,Other Driveway,13,Wednesday,No,999,U,PLAINFIELD,Daylight,Yes,8,February,No,JULIA,2008,Snowy,25
3,-85.643314,42.928172,No,2008/01/25,Angle Straight,25,Friday,No,23,M,ARDMORE,Dusk,No,17,January,No,BLAIM,2008,Slush,25
4,-85.665571,42.968854,No,2008/09/26,Backing,26,Friday,No,37,M,RANSOM,Daylight,No,17,September,No,CRESENT,2008,Dry,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74304,-85.688410,42.997895,No,2017/03/20,Other Driveway,20,Monday,No,62,M,PANNELL,Daylight,No,16,March,No,ALPINE,2017,Dry,30
74305,-85.661670,42.941360,No,2017/11/18,Pedestrian,18,Saturday,No,59,M,LAFAYETTE,"Dark, Lighted",No,18,November,No,HALL,2017,Wet,30
74306,-85.661243,42.939724,No,2017/06/02,Side-Swipe Same,2,Friday,No,19,M,GARDEN,Daylight,No,19,June,Yes,LAFAYETTE,2017,Dry,25
74307,-85.584837,42.971042,No,2017/08/23,Pedestrian,23,Wednesday,Yes,34,F,TWIN LAKES,Daylight,No,19,August,No,MICHIGAN,2017,Dry,25
74308,-85.676419,42.984836,No,2017/03/18,Angle Straight,18,Saturday,No,54,M,LEONARD,Daylight,No,18,March,No,SCRIBNER,2017,Dry,30

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74309 entries, 0 to 74308
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   X           74309 non-null  float64
 1   Y           74309 non-null  float64
 2   BIKE        74309 non-null  object
 3   CRASHDATE   74309 non-null  object
 4   CRASHTYPE   74309 non-null  object
 5   DAYOFMONTH  74309 non-null  int64
 6   DAYOFWEEK   74309 non-null  object
 7   D1DRINKIN   74309 non-null  object
 8   DRIVER1AGE  74309 non-null  int64
 9   DRIVER1SEX  74309 non-null  object
 10  INTERNAME   74309 non-null  object
 11  LIGHTING    74309 non-null  object
 12  HITANDRUN   74309 non-null  object
 13  HOUR        74309 non-null  int64
 14  MONTH       74309 non-null  object
 15  MOTORCYCLE  74309 non-null  object
 16  PRNAME      74309 non-null  object
 17  YEAR        74309 non-null  int64
 18  SURFCOND    74309 non-null  object
 19  SPEEDLIMIT  74309 non-null  int64
dtypes: float64(2), int64(5), object(13)
memory usage: 11.3+ MB

In [48]:
map = folium.Map(location=[df['INTERNAME'],
                           df['PRNAME']],
                 zoom_start=4)

mc = MarkerCluster()

for row in df.itertuples():
    mc.add_child(folium.Marker(location=[row.INTERNAME, row.PRNAME]))
map

ValueError: Location should consist of two numerical values, but 0             ALGER
1          ROSEWOOD
2        PLAINFIELD
3           ARDMORE
4            RANSOM
            ...
74304       PANNELL
74305     LAFAYETTE
74306        GARDEN
74307    TWIN LAKES
74308       LEONARD
Name: INTERNAME, Length: 74309, dtype: object of type <class 'pandas.core.series.Series'> is not convertible to float.